html {
  box-sizing: border-box;
  font-family: "sans-serif";
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

$background-color: (#6c90c4);

body {
  background: linear-gradient(
    90deg,
    rgba(42, 67, 144, 1) 0%,
    rgba(26, 39, 62, 1) 95%
  );
  height: 100vh;
  width: 100%;
}

.slogan {
  height: 60vh;
  width: 100vh;
  border-radius: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 3rem;
  color: white;
  font-family: montserrat;
  font-weight: 600;
  text-transform: uppercase;
}
