html {
  box-sizing: border-box;
  font-family: "sans-serif";
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

$background-color: (#716cac);

body {
  background: linear-gradient(rgba(42, 67, 144, 1) 0%, rgba(26, 39, 62, 1) 20%);
}
